AtlasDev/Services/Atlas.NuCard.Server/Server/Service References/TutukaNuCardService/wsNucard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetProfileTransactionDataForPrevDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profile_number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfileTransactionDataForPrevDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProfileTransactionDataForPrevDayResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfileTransactionData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profile_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datefrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProfileTransactionDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProfileTransactionDataResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProfileTransactionDataForPrevDaySoapIn">
    <wsdl:part name="parameters" element="tns:GetProfileTransactionDataForPrevDay" />
  </wsdl:message>
  <wsdl:message name="GetProfileTransactionDataForPrevDaySoapOut">
    <wsdl:part name="parameters" element="tns:GetProfileTransactionDataForPrevDayResponse" />
  </wsdl:message>
  <wsdl:message name="GetProfileTransactionDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetProfileTransactionData" />
  </wsdl:message>
  <wsdl:message name="GetProfileTransactionDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetProfileTransactionDataResponse" />
  </wsdl:message>
  <wsdl:portType name="wsNucardSoap">
    <wsdl:operation name="GetProfileTransactionDataForPrevDay">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates a NuCard user based on username, password and profile number and extracts data for the previous day</wsdl:documentation>
      <wsdl:input message="tns:GetProfileTransactionDataForPrevDaySoapIn" />
      <wsdl:output message="tns:GetProfileTransactionDataForPrevDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProfileTransactionData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates a NuCard user based on username, password and profile number and extracts data for a specified date range</wsdl:documentation>
      <wsdl:input message="tns:GetProfileTransactionDataSoapIn" />
      <wsdl:output message="tns:GetProfileTransactionDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsNucardSoap" type="tns:wsNucardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProfileTransactionDataForPrevDay">
      <soap:operation soapAction="http://tempuri.org/GetProfileTransactionDataForPrevDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileTransactionData">
      <soap:operation soapAction="http://tempuri.org/GetProfileTransactionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsNucardSoap12" type="tns:wsNucardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProfileTransactionDataForPrevDay">
      <soap12:operation soapAction="http://tempuri.org/GetProfileTransactionDataForPrevDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfileTransactionData">
      <soap12:operation soapAction="http://tempuri.org/GetProfileTransactionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsNucard">
    <wsdl:port name="wsNucardSoap" binding="tns:wsNucardSoap">
      <soap:address location="http://www.nupay.co.za/wsNucard/wsNucard.asmx" />
    </wsdl:port>
    <wsdl:port name="wsNucardSoap12" binding="tns:wsNucardSoap12">
      <soap12:address location="http://www.nupay.co.za/wsNucard/wsNucard.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>