AtlasDev/Services/Atlas.Integration/Test/Test/Service References/Atlas/Atlas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Atlas.Services.2015.Integration.User" elementFormDefault="qualified" targetNamespace="Atlas.Services.2015.Integration.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserList" nillable="true" type="tns:ArrayOfUserDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersResult" nillable="true" type="tns:UsersResult" />
  <xs:complexType name="ArrayOfUserDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDetail" nillable="true" type="tns:UserDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDetail" nillable="true" type="tns:ArrayOfUserDetail" />
  <xs:complexType name="UserDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellularNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetail" nillable="true" type="tns:UserDetail" />
</xs:schema>