AtlasDev/Services/Atlas.Integration/Test/Test/Service References/Atlas/Atlas10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Atlas.Services.2015.Integration.Vetting" elementFormDefault="qualified" targetNamespace="Atlas.Services.2015.Integration.Vetting" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVettingParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VettingParameter" nillable="true" type="tns:VettingParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVettingParameter" nillable="true" type="tns:ArrayOfVettingParameter" />
  <xs:complexType name="VettingParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositiveOutcome" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VettingParameter" nillable="true" type="tns:VettingParameter" />
</xs:schema>