AtlasDev/Services/Atlas.Integration/Test/Test/Service References/Atlas/Atlas11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Atlas.Services.2015.Integration.Branch" elementFormDefault="qualified" targetNamespace="Atlas.Services.2015.Integration.Branch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BranchListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchList" nillable="true" type="tns:ArrayOfBranchDetail" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchListResult" nillable="true" type="tns:BranchListResult" />
  <xs:complexType name="ArrayOfBranchDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BranchDetail" nillable="true" type="tns:BranchDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranchDetail" nillable="true" type="tns:ArrayOfBranchDetail" />
  <xs:complexType name="BranchDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchDetail" nillable="true" type="tns:BranchDetail" />
</xs:schema>