AtlasDev/Services/Atlas.Integration/Test/Test/Service References/Atlas/Atlas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Atlas.Services.2015.Integration.Login" elementFormDefault="qualified" targetNamespace="Atlas.Services.2015.Integration.Login" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SystemLoginRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemLoginRequest" nillable="true" type="tns:SystemLoginRequest" />
  <xs:complexType name="UserLoginRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserIdNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLoginRequest" nillable="true" type="tns:UserLoginRequest" />
  <xs:complexType name="LoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
</xs:schema>