AtlasDev/Services/Atlas.Integration/Test/Test/Service References/Atlas/Atlas6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Atlas.Services.2015.Integration.SMS" elementFormDefault="qualified" targetNamespace="Atlas.Services.2015.Integration.SMS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SendSMSRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellularNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSMSRequest" nillable="true" type="tns:SendSMSRequest" />
  <xs:complexType name="SendSMSResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendSMSResult" nillable="true" type="tns:SendSMSResult" />
</xs:schema>