AtlasDev/Services/Web/Atlas.Online.Web.Service/Service References/AuthenticationServer/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="AuthenticationServer.NET_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Atlas.ThirdParty.Xds" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationServer_GetQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestions" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationServer_GetQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationServer_SubmitAnswers_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAnswers" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationServer_SubmitAnswers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAnswersResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationServer_ExceededAuthenticationTries_InputMessage">
    <wsdl:part name="parameters" element="tns:ExceededAuthenticationTries" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationServer_ExceededAuthenticationTries_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExceededAuthenticationTriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationServer">
    <wsdl:operation name="GetQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationServer/GetQuestions" message="tns:IAuthenticationServer_GetQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationServer/GetQuestionsResponse" message="tns:IAuthenticationServer_GetQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAnswers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationServer/SubmitAnswers" message="tns:IAuthenticationServer_SubmitAnswers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationServer/SubmitAnswersResponse" message="tns:IAuthenticationServer_SubmitAnswers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExceededAuthenticationTries">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationServer/ExceededAuthenticationTries" message="tns:IAuthenticationServer_ExceededAuthenticationTries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationServer/ExceededAuthenticationTriesResponse" message="tns:IAuthenticationServer_ExceededAuthenticationTries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationServer.NET" type="tns:IAuthenticationServer">
    <wsp:PolicyReference URI="#AuthenticationServer.NET_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetQuestions">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationServer/GetQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAnswers">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationServer/SubmitAnswers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExceededAuthenticationTries">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationServer/ExceededAuthenticationTries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationServer.HTTP" type="tns:IAuthenticationServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuestions">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationServer/GetQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitAnswers">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationServer/SubmitAnswers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExceededAuthenticationTries">
      <soap:operation soapAction="http://tempuri.org/IAuthenticationServer/ExceededAuthenticationTries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationServer">
    <wsdl:port name="AuthenticationServer.NET" binding="tns:AuthenticationServer.NET">
      <soap12:address location="net.tcp://localhost:8200/AuthenticationServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8200/AuthenticationServer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="AuthenticationServer.HTTP" binding="tns:AuthenticationServer.HTTP">
      <soap:address location="http://localhost:8201/AuthenticationServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>