AtlasDev/Services/Web/Atlas.Online.Web.Service/Service References/OrchestrationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Atlas.Domain.DTO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Atlas.Orchestration.Server.Structures" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Atlas.Domain.Structures" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetByIdNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Atlas.Domain.DTO" minOccurs="0" name="GetByIdNoResult" nillable="true" type="q1:PER_PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Atlas.Orchestration.Server.Structures" minOccurs="0" name="client" nillable="true" type="q2:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="SaveResult" nillable="true" type="q3:TupleOflonglong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetbyPk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pk" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetbyPkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Atlas.Domain.DTO" minOccurs="0" name="GetbyPkResult" nillable="true" type="q4:PER_PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Atlas.Domain.DTO" minOccurs="0" name="GetBankDetailsResult" nillable="true" type="q5:ArrayOfBankDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:long" />
        <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Atlas.Domain.DTO" minOccurs="0" name="GetBankDetailResult" nillable="true" type="q6:BankDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" minOccurs="0" name="bank" type="q7:General.BankName" />
        <xs:element minOccurs="0" name="daysAgo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Atlas.Domain.Structures" minOccurs="0" name="GetAccountVerificationResult" nillable="true" type="q8:AccountVerification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountVerificationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountVerificationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Atlas.Domain.Structures" minOccurs="0" name="GetAccountVerificationByIdResult" nillable="true" type="q9:AccountVerification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankDetailByDetailId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:long" />
        <xs:element minOccurs="0" name="bankDetailId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankDetailByDetailIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Atlas.Domain.DTO" minOccurs="0" name="GetBankDetailByDetailIdResult" nillable="true" type="q10:BankDetailDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:long" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" minOccurs="0" name="bank" type="q11:General.BankName" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" minOccurs="0" name="accountType" type="q12:General.BankAccountType" />
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNo" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" minOccurs="0" name="accountPeriod" type="q13:General.BankPeriod" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBankResult" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:long" />
        <xs:element minOccurs="0" name="detailId" type="xs:long" />
        <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBankDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOTP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GenerateOTPResult" nillable="true" type="q14:TupleOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="security" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyOTPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompiledTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" minOccurs="0" name="notificationTemplate" type="q15:Notification.NotificationTemplate" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="searchReplace" nillable="true" type="q16:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompiledTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompiledTemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePersonResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformCDV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankId" type="xs:long" />
        <xs:element minOccurs="0" name="accountTypeId" type="xs:long" />
        <xs:element minOccurs="0" name="bankAccountNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="branchCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformCDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerformCDVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyPolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" minOccurs="0" name="CompanyPoliciesResult" nillable="true" type="q17:ArrayOfAccount.Policy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountPolicies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountPoliciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Atlas.Domain.DTO" minOccurs="0" name="AccountPoliciesResult" nillable="true" type="q18:ArrayOfACC_PolicyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReApplyDelay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReApplyDelayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReApplyDelayResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>