AtlasDev/Libraries/Atlas.ThirdParty/Atlas.ThirdParty.CompuScan/Atlas.ThirdParty.CompuScan/Service References/DocumentAdministration/05.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:Atlas/ASS/DocServer/Admin/2014/05" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Atlas/ASS/DocServer/Admin/2014/05" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:Atlas/ASS/DocServer/Admin/2014/05/Imports">
      <xsd:import namespace="urn:Atlas/ASS/DocServer/Admin/2014/05" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Atlas.DocServer.WCF.Interface" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentAdminServer_GetDocumentFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentFile" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdminServer_GetDocumentFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdminServer_GetDocumentInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentInfo" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdminServer_GetDocumentInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdminServer_StoreDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreDocument" />
  </wsdl:message>
  <wsdl:message name="IDocumentAdminServer_StoreDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentAdminServer">
    <wsdl:operation name="GetDocumentFile">
      <wsdl:input wsaw:Action="urn:Atlas/ASS/DocServer/Admin/2014/05/IDocumentAdminServer/GetDocumentFile" message="tns:IDocumentAdminServer_GetDocumentFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:Atlas/ASS/DocServer/Admin/2014/05/IDocumentAdminServer/GetDocumentFileResponse" message="tns:IDocumentAdminServer_GetDocumentFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfo">
      <wsdl:input wsaw:Action="urn:Atlas/ASS/DocServer/Admin/2014/05/IDocumentAdminServer/GetDocumentInfo" message="tns:IDocumentAdminServer_GetDocumentInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:Atlas/ASS/DocServer/Admin/2014/05/IDocumentAdminServer/GetDocumentInfoResponse" message="tns:IDocumentAdminServer_GetDocumentInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreDocument">
      <wsdl:input wsaw:Action="urn:Atlas/ASS/DocServer/Admin/2014/05/IDocumentAdminServer/StoreDocument" message="tns:IDocumentAdminServer_StoreDocument_InputMessage" />
      <wsdl:output wsaw:Action="urn:Atlas/ASS/DocServer/Admin/2014/05/IDocumentAdminServer/StoreDocumentResponse" message="tns:IDocumentAdminServer_StoreDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>