AtlasDev/Services/Falcon.Service/Service References/AssIntService/Atlas.WCF.Interface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Atlas.WCF.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Atlas.WCF.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddUserOverrideArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NewLevel" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionalOperatorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserOperatorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddUserOverrideArgs" nillable="true" type="tns:AddUserOverrideArgs" />
</xs:schema>