AtlasDev/Libraries/Falcon/Falcon.Gyrkin.Library/Service References/Service/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures.Avs" />
  <xs:complexType name="ArrayOflong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="long" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflong" nillable="true" type="tns:ArrayOflong" />
  <xs:complexType name="ArrayOfKeyValueOfAvsServiceArrayOfAvsServiceBanki4excQx1">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfAvsServiceArrayOfAvsServiceBanki4excQx1">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures.Avs" name="Key" nillable="true" type="q1:AvsService" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures.Avs" name="Value" nillable="true" type="q2:ArrayOfAvsServiceBank" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfAvsServiceArrayOfAvsServiceBanki4excQx1" nillable="true" type="tns:ArrayOfKeyValueOfAvsServiceArrayOfAvsServiceBanki4excQx1" />
</xs:schema>