AtlasDev/Libraries/Falcon/Falcon.Gyrkin.Library/Service References/Service/System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures.Avs" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures" />
  <xs:complexType name="TupleOfArrayOfAvsStatisticsArrayOfAvsTransactionsi4excQx1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAvsStatistics" Namespace="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures.Avs">
          </GenericParameter>
          <GenericParameter Name="ArrayOfAvsTransactions" Namespace="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures.Avs">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures.Avs" name="m_Item1" nillable="true" type="q1:ArrayOfAvsStatistics" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures.Avs" name="m_Item2" nillable="true" type="q2:ArrayOfAvsTransactions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfAvsStatisticsArrayOfAvsTransactionsi4excQx1" nillable="true" type="tns:TupleOfArrayOfAvsStatisticsArrayOfAvsTransactionsi4excQx1" />
  <xs:complexType name="TupleOfPayoutStatisticsArrayOfPayoutTransactionZE5bebb_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PayoutStatistics" Namespace="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures">
          </GenericParameter>
          <GenericParameter Name="ArrayOfPayoutTransaction" Namespace="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures" name="m_Item1" nillable="true" type="q3:PayoutStatistics" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Falcon.Common.Structures" name="m_Item2" nillable="true" type="q4:ArrayOfPayoutTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfPayoutStatisticsArrayOfPayoutTransactionZE5bebb_P" nillable="true" type="tns:TupleOfPayoutStatisticsArrayOfPayoutTransactionZE5bebb_P" />
  <xs:complexType name="TupleOfintstring">
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintstring" nillable="true" type="tns:TupleOfintstring" />
  <xs:complexType name="TupleOfbooleanstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:boolean" />
      <xs:element name="m_Item2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfbooleanstring" nillable="true" type="tns:TupleOfbooleanstring" />
</xs:schema>