AtlasDev/Web/Atlas.Online.Web/Service References/PDFServer/Atlas.PDF.Server.WCF.Interface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Atlas.PDF.Server.WCF.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Atlas.PDF.Server.WCF.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PdfResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bytes" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PdfResult" nillable="true" type="tns:PdfResult" />
</xs:schema>