AtlasDev/Web/Atlas.Online.Web/Service References/WebService/Atlas.Online.Web.Service.Entities.Otp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Atlas.Online.Web.Service.Entities.Otp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Atlas.Online.Web.Service.Entities.Otp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OtpSendResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Sent" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtpSendResult" nillable="true" type="tns:OtpSendResult" />
</xs:schema>