AtlasDev/Services/Web/Nodes/Atlas.Online.Node.CreditCheck/Service References/OrchestrationService/Atlas.Domain.Structures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Atlas.Domain.Structures" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Atlas.Domain.Structures" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" />
  <xs:complexType name="AccountVerification">
    <xs:sequence>
      <xs:element name="_x003C_TransactionId_x003E_k__BackingField" nillable="true" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" name="_x003C_Transaction_x003E_k__BackingField" type="q1:Orchestration.AVSTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountVerification" nillable="true" type="tns:AccountVerification" />
</xs:schema>