AtlasDev/Libraries/Atlas.Business/Service References/StockServer/AtlasServer.WCF.Interface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AtlasServer.WCF.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AtlasServer.WCF.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SourceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminIDOrPassport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppVer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommOptions1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommOptions2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FingerprintFinger" type="xs:int" />
      <xs:element minOccurs="0" name="FingerprintTemplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MachineIPAddresses" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineUniqueID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Options" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserIDOrPassport" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SourceRequest" nillable="true" type="tns:SourceRequest" />
</xs:schema>