AtlasDev/Services/Web/Nodes/Atlas.Online.Node.EmailNode/Service References/EmailServer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Atlas.EmailServer.WCF.Interface" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Atlas" />
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isHTML" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Atlas.EmailServer.WCF.Interface" minOccurs="0" name="priority" type="q1:Priority" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Atlas" minOccurs="0" name="emailType" type="q2:Enumerators.EmailMessageType" />
        <xs:element minOccurs="0" name="actionDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isActionDateTriggered" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>