AtlasDev/Libraries/Atlas.ThirdParty/Service References/EADONupayReportService/wsNupayReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.nupay.co.za/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.nupay.co.za/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nupay.co.za/">
      <s:element name="getReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="merchant_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usertype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="report_type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date_from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="date_to" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="token_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="block_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReportResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReportSPF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="merchant_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usertype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="report_type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date_from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="date_to" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="token_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="block_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReportSPFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReportSPFResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getReportSoapIn">
    <wsdl:part name="parameters" element="tns:getReport" />
  </wsdl:message>
  <wsdl:message name="getReportSoapOut">
    <wsdl:part name="parameters" element="tns:getReportResponse" />
  </wsdl:message>
  <wsdl:message name="getReportSPFSoapIn">
    <wsdl:part name="parameters" element="tns:getReportSPF" />
  </wsdl:message>
  <wsdl:message name="getReportSPFSoapOut">
    <wsdl:part name="parameters" element="tns:getReportSPFResponse" />
  </wsdl:message>
  <wsdl:portType name="wsNupayReportSoap">
    <wsdl:operation name="getReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function returns the requested Transaction report for specified merchant and service type between specified dates</wsdl:documentation>
      <wsdl:input message="tns:getReportSoapIn" />
      <wsdl:output message="tns:getReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReportSPF">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This function returns the requested Transaction report for specified merchant and service type between specified dates</wsdl:documentation>
      <wsdl:input message="tns:getReportSPFSoapIn" />
      <wsdl:output message="tns:getReportSPFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsNupayReportSoap" type="tns:wsNupayReportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getReport">
      <soap:operation soapAction="http://www.nupay.co.za/getReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReportSPF">
      <soap:operation soapAction="http://www.nupay.co.za/getReportSPF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsNupayReportSoap12" type="tns:wsNupayReportSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getReport">
      <soap12:operation soapAction="http://www.nupay.co.za/getReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReportSPF">
      <soap12:operation soapAction="http://www.nupay.co.za/getReportSPF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsNupayReport">
    <wsdl:port name="wsNupayReportSoap" binding="tns:wsNupayReportSoap">
      <soap:address location="https://www.nupay.co.za/wsNupayReport/wsNupayReport.asmx" />
    </wsdl:port>
    <wsdl:port name="wsNupayReportSoap12" binding="tns:wsNupayReportSoap12">
      <soap12:address location="https://www.nupay.co.za/wsNupayReport/wsNupayReport.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>