AtlasDev/Services/Web/Atlas.Online.Web.Service/Service References/BankVerificationServer/VerificationServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="Atlas.Bank.Verification.Server" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VerificationServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BankVerificationServer.NET_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="Atlas.Bank.Verification.Server" location="http://localhost:9001/BankVerificationServer/mex?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BankVerificationServer.NET" type="i0:IVerificationServer">
    <wsp:PolicyReference URI="#BankVerificationServer.NET_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IsCDV">
      <soap12:operation soapAction="Atlas.Bank.Verification.Server/IVerificationServer/IsCDV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCDVWithBranch">
      <soap12:operation soapAction="Atlas.Bank.Verification.Server/IVerificationServer/IsCDVWithBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAVSEnquiry">
      <soap12:operation soapAction="Atlas.Bank.Verification.Server/IVerificationServer/DoAVSEnquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAVSEnquiryWithHost">
      <soap12:operation soapAction="Atlas.Bank.Verification.Server/IVerificationServer/DoAVSEnquiryWithHost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoEnquiry">
      <soap12:operation soapAction="Atlas.Bank.Verification.Server/IVerificationServer/DoEnquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoLegacyEnquiry">
      <soap12:operation soapAction="Atlas.Bank.Verification.Server/IVerificationServer/DoLegacyEnquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAVSResponse">
      <soap12:operation soapAction="Atlas.Bank.Verification.Server/IVerificationServer/GetAVSResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VerificationServer">
    <wsdl:port name="BankVerificationServer.NET" binding="tns:BankVerificationServer.NET">
      <soap12:address location="net.tcp://localhost:9000/BankVerificationServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/BankVerificationServer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>