AtlasDev/Services/Web/Nodes/Atlas.Online.Nodes.FraudPrevention/Service References/FraudServer/Atlas.ThirdParty.Fraud.TransUnion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Atlas.ThirdParty.Fraud.TransUnion" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Atlas.ThirdParty.Fraud.TransUnion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" />
  <xs:complexType name="FraudResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EnquiryStatus" type="tns:EnquiryStatus" />
      <xs:element minOccurs="0" name="FraudScoreId" type="xs:long" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReasonCodes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" minOccurs="0" name="Status" type="q2:Account.AccountStatus" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" minOccurs="0" name="StatusReason" type="q3:Account.AccountStatusReason" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Atlas.Enumerators" minOccurs="0" name="SubStatusReason" type="q4:Account.AccountStatusSubReason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FraudResult" nillable="true" type="tns:FraudResult" />
  <xs:simpleType name="EnquiryStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnquiryStatus" nillable="true" type="tns:EnquiryStatus" />
</xs:schema>