AtlasDev/Services/Web/Nodes/Atlas.Online.Nodes.FraudPrevention/Service References/FraudServer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Atlas.ThirdParty.Fraud.TransUnion" />
  <xs:element name="FraudEnquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:long" />
        <xs:element minOccurs="0" name="idNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addressLine1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addressLine2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suburb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="provinceCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="homeTelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="homeTelNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workTelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workTelNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankAccountNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankBranchCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FraudEnquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Atlas.ThirdParty.Fraud.TransUnion" minOccurs="0" name="FraudEnquiryResult" nillable="true" type="q1:FraudResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnquiryForAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnquiryForAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Atlas.ThirdParty.Fraud.TransUnion" minOccurs="0" name="GetEnquiryForAccountResult" nillable="true" type="q2:FraudResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>